<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bigneranch.android.dozelogger"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoggingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".LoggingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".DeviceIdleReceiver">
            <intent-filter>
                <action android:name="android.os.action.DEVICE_IDLE_MODE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>